/.Rproj.user
.Rhistory
feedback_ahmed.txt
Location Covering Models_ History, Applications and Advancements _ SpringerLink.url
logo.pptx
pandoc61fc233271f8.nb.html
The Maximal Coverage Location Problem — spopt v0.6.1 Manual.url
todo.R
docs
comments_to_myself.R
paper/example/10.21105.joss.04771.pdf
paper/example/paper.md
paper/guide.md
paper/locationallocation-preprint-190325-2.pdf
paper/main_joss.md
paper/main_joss.tex
paper/pandoc_converter
paper/paper.pdf
paper/paper.zip
paper/social_media_posts.docx
todo.txt
inst/doc

/.quarto/
**/*.quarto_ipynb
