.RData
.Renviron
.Rhistory
.Ruserdata
*.knit.md
*.utf8.md
**/*.quarto_ipynb
/.quarto/
/.Rproj.user/
/*_cache/
/*.Rcheck/
/cache/
/docs/
/README_files/
/revdep/
/vignettes/*.html
/vignettes/*.pdf
app.history
paper/paper.pdf
paper/paper.zip
README.rmarkdown
benchmark_results.RData
benchmark_results.RData
paper/example/10.21105.joss.04771.pdf
paper/example/paper.md
paper/guide.md
paper/locationallocation-preprint-190325-2.pdf
paper/main_joss.md
paper/main_joss.tex
paper/pandoc_converter
paper/r1/comments_responses.docx
paper/social_media_posts.docx
paper/vxskhqvksgcctxksqsytsvfkyhdmdtxf.zip
schematic.R
todo.txt
